.lendas-section {
  padding: 10rem 6% 8rem 6%;
  background-color: #01040D; 
  color: white;
}

.lendas-header {
  margin-bottom: 10rem;
}

.lendas-list {
  display: flex;
  flex-direction: column;
  gap: 15rem; 
}

/* Card individual (Alinhamento Central) */
.lenda-card {
  position: relative;
  display: flex;
  align-items: center; 
  gap: 10rem; 
  min-height: 700px;
}

/* Inverte a ordem para os jogadores pares (02 e 04) */
.lenda-card:nth-child(even) {
  flex-direction: row-reverse;
}

.lenda-bg-number {
  position: absolute;
  top: 50%;
  right: 5%; 
  transform: translateY(-50%);
  
  font-family: var(--font-title); 
  font-size: 35rem; 
  font-weight: 700;
  color: rgba(255, 255, 255, 0.02); 
  z-index: 0;
  pointer-events: none;
  line-height: 1;
}

/* Inverte a posição do número quando o card inverte */
.lenda-card:nth-child(even) .lenda-bg-number {
  right: auto;
  left: 5%;
}

.lenda-image-wrapper {
  flex: 0 0 500px;
  height: 700px;
  z-index: 2; 
  position: relative;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.1); 
  border-radius: 10px;
}

.lenda-image-wrapper::after {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, rgba(1, 4, 13, 0) 60%, rgba(1, 4, 13, 1));
}

.lenda-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* --- INFORMAÇÕES DE TEXTO --- */
.lenda-info {
  flex: 1;
  z-index: 2; 
  display: flex;
  flex-direction: column;
  justify-content: center; 
}

.lenda-gols {
  font-family: var(--font-text); 
  font-size: 0.9rem;
  letter-spacing: 5px;
  color: #3C83F6; 
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-weight: 600;
}


.lenda-nome {
  font-family: 'Playfair Display', serif; 
  font-size: 6.5rem; 
  line-height: 1;
  font-weight: 600;
  margin-bottom: 1.5rem;
  letter-spacing: -2px; 
  
  color: white; 
  background-image: none; 
  -webkit-background-clip: initial; 
  background-clip: initial;
}


.lenda-anos {
  font-family: var(--font-title); 
  font-size: 1.6rem;
  font-style: italic; 
  color: #8D9AB3; 
  margin-bottom: 3rem;
  font-weight: 400;
}

.lenda-desc {
  font-family: var(--font-text); 
  font-size: 1.2rem;
  line-height: 2; 
  color: #A4B2C6; 
  font-weight: 300;
  max-width: 500px; 
}


@media (max-width: 768px) {
  .lendas-section {
    padding: 4rem 5%;
  }

  .lendas-list {
    gap: 6rem; 
  }

  .lenda-card, 
  .lenda-card:nth-child(even) {
    flex-direction: column; /* Todos ficam em coluna no mobile */
    align-items: flex-start;
    gap: 2rem;
  }

  .lenda-image-wrapper {
    flex: 0 0 auto;
    width: 100%; 
    height: 450px; 
  }

  .lenda-bg-number {
    font-size: 15rem; 
    opacity: 0.05; 
    top: 10%;
    right: 0;
  }

  .lenda-nome {
    font-size: 3.5rem; 
  }

  .lenda-desc {
    font-size: 1rem;
    line-height: 1.6;
  }
}